.accordion-card {
  border: 1px solid #444;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-header {
  background: #111;
  color: #fff;
  padding: 12px 16px;
  cursor: pointer;
  font-weight: bold;
}

.accordion-body {
  background: #222;
  color: #ccc;
  padding: 12px 16px;
  display: none;
}
